.lineThrough {
    text-decoration: line-through;
}
body {
    background: #12c2e9; /* fallback for old browsers */
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
